[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SeogheeJeong
[access "refs/for/refs/*"]
	read = group user/SeogheeJeong
	push = group user/SeogheeJeong
	label-Code-Review = -2..+2 group user/SeogheeJeong
	label-Verified = -1..+1 group user/SeogheeJeong
	rebase = group user/SeogheeJeong
	removeReviewer = group user/SeogheeJeong
	submit = group user/SeogheeJeong
[access "refs/heads/*"]
	read = group user/SeogheeJeong
	create = group user/SeogheeJeong
	push = +force group user/SeogheeJeong
	pushMerge = group user/SeogheeJeong
[access "refs/tags/*"]
	push = group user/SeogheeJeong
	push = +force group user/SeogheeJeong
